.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.portrait {
  border-radius: 0%;
  width: 426px;
  height: 420px;
  object-fit: cover;
  // transform: translateY(-55px);
  transform: translateX(-12px);
  z-index: 1;
}

.circle {
  width: 25.3rem;
  height: 25.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 50%;
  background: linear-gradient(112deg,#79FF5F 29.52%, #5FF4FF 39.35%);
  display: flex; /* To center content if needed */
  align-items: center;
  justify-content: center;

  /* Middle thin circle (background-colored) */
  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 0.2rem); /* Outer circle - adjust thickness here */
    height: calc(100% - 0.2rem);
    background: #242029; /* Background color */
    border-radius: 50%;
    z-index: 1; /* Ensures it’s above the gradient but below inner content */
  }

  /* Inner white circle */
  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 1rem); /* Inner circle - adjust size here */
    height: calc(100% - 1rem);
    background: #F2EFF5; /* Inner circle color */
    border: 0.13rem solid #F2EFF5;
    border-radius: 50%;
    z-index: 2; /* Ensures it’s above the middle thin circle */
  }
}

.intro {
  max-width: 100%;
  text-align: left;
  z-index: 1;
  background-color: #242029;
  padding: 2rem;
  
  h1, h2, p {
    overflow-wrap: break-word;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 200;
    background: linear-gradient(90deg, #79FF5F 29.52%, #5FF4FF 39.35%);
    background-clip: text;
  }

  h2 {
    font-size: 4.1rem;
    font-weight: 600;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #79FF5F 18.22%, #5FF4FF 55.51%);
    background-clip: text;
  }

  p {
    font-size: 2.3rem;
    font-weight: 200;
    color: #ffffff;
  }
}

@media (max-width: 768px) {

  .hero {
    margin: 0rem 0.5rem 0rem 0.5rem;
  }

  .intro {

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}