.impressum {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
  padding: 3rem 8vw 1rem 8vw;
  background: linear-gradient(100deg, #79FF5F 5.22%, #5FF4FF 95.51%);
  text-align: left;
  min-inline-size: 100%;

  h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #242029;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #242029;

      strong {
        color: #242029;
      }
    }
  }
}