.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
  background: linear-gradient(90deg, #79ff5f 20%, #5ff4ff 80%);
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  &-content {
    flex: 1;
    max-width: 50%;
    color: #f2eff5;

    h2 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
      color: #79ff5f;
      background: #242029;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.6;
      color: #242029;
    }
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 2rem;

    &-content {
      max-width: 100%;
      text-align: left;

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
    }
  }