@use './theme' as *;
@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #181520;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  overflow-x: hidden;
  color: #F2EFF5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}