@use './theme' as *;
@use './mixins' as *;
@import url($font-url);

body {
  background-color: var(--c-bg);
  box-sizing: border-box;
  font-family: $font-family;
  overflow-x: hidden;
  color: var(--c-text);
  transition: background-color 0.4s ease, color 0.4s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}