@import './theme';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #242029;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}